.App {
  font-family: sans-serif;
  ;
}

.app-header {
  margin-top: 0;
  height: 50px;
  background-color: yellow;
  padding: 1rem 2rem;
  font-family: Gill Sans, cursive;
}

.notes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.note-card {
  width: 200px;
  padding: 1rem;
  background-color: #036b3e;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem;
  
}
.note-title {
  color:#FFB000;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.note-text {
  font-size: 16px;
  color:#FFCF9D

}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 1rem 2rem;
}
